html {
    background-color: #f2f2f2;
}

.document {
    font-family: Roboto, serif;
    display: flex;
    justify-content: center;
    margin: 0;
}

.app {
    font-size: 24px;
}

.todo-header {
    display: flex;
    justify-content: center;
}

.title {
    font-weight: 200;
    font-size: calc((100vh - 300px) / (6) + 50px);
    line-height: 21px;
    letter-spacing: -2.5px;
    color: #CCCCCC;
    margin-block-start: 0.56em;
    margin-block-end: 0.37em;
}

.app-frame {
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 56vw;
}

.main-controls {
    display: flex;
    height: 3em;
    box-shadow: inset 0 -1px 0 #E6E6E6;
}

.main-controls__select-all {
    display: inline-flex;
    width: 3em;
}

.main-controls__select-all-button {
    display: block;
    height: 1.98em;
    width: 1.98em;
    background-color: inherit;
    background-image: url("icons/select-all.png");
    background-repeat: no-repeat;
    background-position: center;
    border-width: 0;
    margin: auto;
    text-indent: -9999px;
}

.main-controls__select-all-button:hover{
    cursor: pointer;
}

.main-controls__input {
    display: flex;
    align-items: center;
}

.main-controls__input-field {
    font-size: inherit;
    font-style: italic;
    font-weight: 300;
    letter-spacing: -0.6px;
    color: #CCCCCC;
    border: none;
    background-color: inherit;
    line-height: 21px;
}

li {
    list-style-type: none;
    height: 3em;
}

ul {
    padding-left: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

.tasks-item__task {
    display: flex;
    width: inherit;
    height: inherit;
    box-shadow: inset 0px -1px 0px #E6E6E6;
    color: #666666;
}

.tasks-item__status {
    display: flex;
    font-size: inherit;
    height: 3em;
    width: 3em;
    margin: 0;
    cursor: pointer;
    position: relative;
}

.tasks-item__status::before{
    content: '';
    display: block;
    height: 1.98em;
    width: 1.98em;
    border-radius: 50%;
    border-width: 1px;
    border-color: black;
    margin: auto;
    background-image: url("icons/completed.png");
    background-repeat: no-repeat;
    background-position: center;
}

.tasks-item__task-name{
    margin-top: auto;
    margin-bottom: auto;
}

.tasks-item__delete-button{
    font-size: inherit;
    border-width: 0;
    margin: auto .99em auto auto;
    height: .99em;
    width: .99em;
    opacity: 0;
    background-image: url("icons/close.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: inherit;
    text-indent: -9999px;
}

.tasks-item__task:hover {
    background-color: #FAFAFA;
}

.side-controls{
    display: flex;
    height: 2em;
    justify-content: space-between;
}

.side-controls__item{
    margin: auto .99em;
    font-size: 14px;
    color: #888888;
    letter-spacing: -0.35px;
}

.side-controls__clear-completed{
    border: 0;
    color: #888888;
    background-color: inherit;
}

.task-filter__text:hover {
    cursor: pointer;
}

.side-controls__clear-completed:hover{
    cursor: pointer;
}


