html {
    background-color : var(--document-background-color);
}

.document {
    font-family     : Roboto, sans-serif;
    display         : flex;
    justify-content : center;
    margin          : 0;
    font-size       : var(--medium-font-size);
}