.tasks {
    flex-grow: 1;
}

.tasks_list {
    padding-left: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

li {
    list-style-type: none;
    height: auto;
    min-height: 2.85em;
}

.tasks-item__task {
    display: flex;
    width: inherit;
    height: inherit;
    min-height: inherit;
    box-shadow: inset 0 -1px 0 var(--task-separator-color);
    color: var(--task-test-color);
    font-size: 24px;
}

.tasks-item__status {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    font-size: 24px;

    width: 1.5em;
    height: 1.5em;
    margin: 0.5em;
}

.tasks-item__status:focus + .tasks-item__status-icon{
    border: 2px var(--focus-border-color) solid;
}
.tasks-item__status:focus:checked + .tasks-item__status-icon{
    border: 2px var(--focus-border-color) solid;
}

.tasks-item__status:checked + .tasks-item__status-icon {
    background-image: url("../icons/completed.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 65%;
    border: 1px var(--checked-checkbox-color) solid;
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
    .tasks-item__status:checked + .tasks-item__status-icon {
        background-image: url("../icons/completed@2x.png");
    }
}

.tasks-item__status:checked + .tasks-item__status-icon + .tasks-item__task-name {
    text-decoration: line-through;
    color: var(--header-text-color);
}

.tasks-item__status-icon {
    display: block;
    height: 1.5em;
    width: 1.5em;
    border-radius: 50%;
    border: 1px var(--task-separator-color) solid;
    box-sizing: border-box;
    flex-shrink: 0;

    margin: auto 0.5em;
}

.tasks-item__task-name {
    margin-top: auto;
    margin-bottom: auto;
    word-break: break-word;
    hyphens: auto;
}

.tasks-item__delete-button {
    font-size: inherit;
    border-width: 0;
    margin: auto .99em auto auto;
    height: .99em;
    width: .99em;
    z-index: -1;
    background-image: url("../icons/close.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: inherit;
    background-size: 0.75em;
    text-indent: -9999px;
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
    .tasks-item__delete-button {
        background-image: url("../icons/close@2x.png");
    }
}

.tasks-item__task:hover {
    background-color: var(--task-onhover-background-color);
}

.tasks-item__task:hover > .tasks-item__delete-button {
    z-index: 0;
}

.tasks-item__delete-button:focus {
    z-index: 0;
    border: 2px var(--focus-border-color) solid;
}